PORT=5000

MONGO_URI=mongodb://localhost:27017/ai_flashcards

JWT_SECRET=9xK7#mP2!vQ8@Lr5$Tn1&Zy6*Ws3

JWT_EXPIRE=7d

GEMINI_API_KEY=AIzaSyAQ.Ab8RN6JvS4C1SepXoYZoLgYx_SsC9S2fF47bN4l1bXyYr7dDdQ

NODE_ENV=development

CLIENT_URL=http://localhost:5173
